<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<title>Hello, world!</title>
</head>
<body>
	<h1>Hello, world!</h1>
	<div class="container">
		<form class="form-floating" action="/" th:action="@{/}" method="post">
			<div class="row">
				<div class="col">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="title" name="title" value="Item title">
				    <label for="floatingInputValue">Title</label>
				    </div>
				</div>
			</div>
			<div class="row">
			
				<div class="col">
				<div class="form-floating mb-3">
				    <label for="floatingTextarea2">Description</label>
					<textarea class="form-control" placeholder="Leave a detailed description here" id="description" name="description" style="height: 100px"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-floating">
						<input class="btn btn-primary" type="submit" value="Save">
					</div>
				</div>
			</div>
		</form>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>
